.orderListHeader{
    border-bottom: 1px solid #dcdcdc;
    margin: 15px;
}
.orderListContent{
    border: 1px solid #dcdcdc;
}
.table-bordered table {
    width: 100%;
}
.table-bordered th{
    padding:10px
}
.table-borderedtd{
    padding: 10px;
}
.table-bordered table, thead, tbody, th,td {
    border: 1px solid #dcdcdc;
}
.orderButtonDetails{
    border-radius: 5px;
    border: none;
    padding: 10px;
    background-color: #1e91cf;
    border-right: 1px solid #dcdcdc;
}
.popButton {
    display: none;
}
.orderButton{
    border-radius: 5px;
    border: none;
    padding: 10px;
    background-color: #1e91cf;
}
.table-cell__label {
    display: flex;
    gap: 3px;
}
