.slider-mobile .slick-dots {
    bottom: 45px;
}

.slider-mobile .slick-dots button:before {
    font-size: var(--fz-tinier);
    color: white;
    opacity: .4;
}

.slider-mobile .slick-dots .slick-active button:before {
    font-size: var(--fz-tinier);
    color: white;
    opacity: 1;
}
