.lib-checkboxFilterItem {
    font-family: var(--header-accent-ff);
    color: var(--header-color);
}

.lib-checkboxFilterItem .filters__items {
    display: flex;
    justify-content: center;
}

.lib-checkboxFilterItem .filters__item {
    margin-right: var(--size-normal-mid);
    display: flex;
}
.filters__item__content{
    display: flex;
    flex-direction: column;
}

.filter-popup-content ul {
    margin: 0;
    padding: 0;
}
.popup-content.filter-popup-content {
    padding: 10px;
    width: auto;
    min-width: 200px;
}

.popup-price {
    height: 60px;
}
.popup-price > div {
    margin-top: 10px !important;
}

.lib-checkboxFilterItem .filters__text {
    position: relative;
    padding-right: var(--size-smaller);
    border: none;
    background: transparent;
    font-size: 16px;
    line-height: 20px;
    color: #887568;
}
.lib-checkboxFilterItem .filters__text.filter-wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 3px 10px;
    border: 1px solid var(--color-accent);
    border-radius: 25px;
    white-space: nowrap;
    transition: .3s;
}
.lib-checkboxFilterItem .filters__text.filter-wrapper:hover {
    border: 1px solid var(--color-accent);
    background-color: rgb(136 117 105 / 10%);
}
.lib-checkboxFilterItem .filters__text.filter-wrapper .cls-1 {
    stroke-width: 5px;
}
.lib-checkboxFilterItem .filters__text.filtered:before {
    content: '!';
    position: absolute;
    right: -3px;
    bottom: 13px;
    z-index: 2;
    background: var(--color-accent);
    color: var(--color-lightest);
    width: 14px;
    height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: -1px 1px 0 0 #fff;
    border-radius: 7px;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
}
.lib-checkboxFilterItem .filters__chevron{
    transition: all .3s linear;
}
.lib-checkboxFilterItem .rotate{
    transform: rotate(180deg);
    transition: all .3s linear;
}
.filters__item__checkbox_list {
    list-style: none;
}
/*checkbox*/
.lib-checkboxFilterItem .checkbox {
    display: inline-flex;
    cursor: pointer;
    position: relative;
    align-items: center;
}

.lib-checkboxFilterItem .checkbox > span {
    color: #a89583;
    padding: 0.5rem 0.25rem;
    font-size: 14px;
    text-transform: capitalize;
}

.lib-checkboxFilterItem .checkbox > input {
    height: 14px;
    width: 14px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #ebe6e1;
    border-radius: 4px;
    outline: none;
    transition-duration: 0.3s;
    background-color: #fff;
    cursor: pointer;
}

.checkbox > input:checked {
    border: 1px solid #887569;
    background-color: #ffffff;
}

.lib-checkboxFilterItem .arrow {
    border: solid var(--color-arrow-black);
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: var(--size-min-small);
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-bottom: var(--size-min-small);
}

.lib-checkboxFilterItem .arrow.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.checkbox > input:checked + span::before {
    content: '\2713';
    display: block;
    text-align: center;
    color: #887569;
    position: absolute;
}

.checkbox > input:active {
    border: 2px solid #34495E;
}
@keyframes anvil {
    0% {
        transform: scale(1) translateY(0px);
        opacity: 0;
        box-shadow: 0 0 0 rgba(241, 241, 241, 0);
    }
    1% {
        transform: scale(0.96) translateY(10px);
        opacity: 0;
        box-shadow: 0 0 0 rgba(241, 241, 241, 0);
    }
    100% {
        transform: scale(1) translateY(0px);
        opacity: 1;
        box-shadow: 0 0 500px rgba(241, 241, 241, 0);
    }
}
.popup-content {
    -webkit-animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px!important;
    border: none;
    border-radius: 2px;
}
.popup-content .checkbox > input {
    height: 14px;
    width: 14px;
}
.popup-content .checkbox > input:checked + span::before {
    left: 6.1px;
}
.popup-arrow {
    filter: none;
}
#popup-3{
    width: 305px!important;

}
#popup-3 input{
    display: none;
}
#popup-3 span:before{
    content: '';
}

