.img-thumbnail {
    padding: 4px;
    line-height: 1.42857;
    background-color: var(--color-lightest);
    border: 1px solid #ddd;
    border-radius: 3px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    display: inline-block;
    max-width: 80px;
    height: auto;
}

.product-quantity {
    font-size: var(--fz-tiny);
    color: white;
}

.table-cell__img {
    padding: 5px;
}
.row {
    display: flex;
    justify-content: space-between;
}
