#root {
    width: 100%;
}
body {
    font-size: .875rem;
    background-color: #f8f9fa!important;
}

.navbar {
    width: 100%;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}
/*
 * Sidebar
 */


@keyframes sidebarOpenAnimation {
    0% {
        left: -768px;
    }
    100% {
        left: 0;
    }
}

@keyframes sidebarCloseAnimation {
    0% {
        left: 0;
    }
    100% {
        left: -768px;
    }
}

@media (max-width: 768px) {
    .sidebar {
        max-width: 200px;
    }
}

.sidebar.open {
    animation: sidebarOpenAnimation .3s ease-out;
    /*max-width: 200px;*/
    left: 0;
}
.sidebar.close {
    animation: sidebarCloseAnimation .3s ease-out;
    left: -768px;
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

/*
 * Navbar
 */
.nav {
    list-style-type: none;
    color: white;
}
.nav:first-child {
    padding-top: 1.5rem;
}
.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: var(--color-lightest);
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}
.nav__cont {
    position: fixed;
    width: 60px;
    top: 0;
    height: 100vh;
    z-index: 100;
    background-color: #202020;
    overflow: hidden;
    transition: width 0.3s ease;
    cursor: pointer;
    box-shadow: 4px 7px 10px rgba(0, 0, 0, 0.4);
}
.nav__cont:hover {
    width: 240px;
}
@media screen and (min-width: 600px) {
    .nav__cont {
        width: 80px;
    }
}
.nav {
    list-style-type: none;
    color: white;
    margin-top: 50px;
    margin-left: 35px;
}
.nav:first-child {
    padding-top: 1.5rem;
}
.nav__items {
    padding: 0;
    letter-spacing: 2px;
}
.nav__items a {
    position: relative;
    display: block;
    top: -30px;
    padding-left: 25px;
    padding-right: 15px;
    transition: all 0.3s ease;
    margin-left: 25px;
    margin-right: 10px;
    text-decoration: none;
    color: white;
    font-weight: 100;
    font-size: 16px;
}
.nav__items a:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 2px;
    background: radial-gradient(circle at 94.02% 88.03%, #374957, transparent 100%);
    opacity: 0;
    transition: all 0.5s ease;
    z-index: -10;
}
.nav__items:hover a:after {
    opacity: 1;
}
.nav__items svg {
    width: 26px;
    height: 26px;
    position: relative;
    left: -25px;
    cursor: pointer;
    fill: rgba(189, 195, 199, 0.7)
}
.nav__items svg:hover{
    fill: #374957;
}
@media screen and (min-width: 600px) {
    .nav__items svg {
        left: -15px;
    }
}

