.orderFinal-page__container{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 0;
    width: 100%;
}
.orderFinal-page__title{
    padding: 15px;
}
.orderFinal-page-btn{
    width: 150px;
}
