.lib-order {
    display: flex;
    color: var(--color-accent);
    max-width: 1280px;
    margin: 0 auto;
}

.lib-order input, .lib-order input::placeholder {
    color: var(--color-accent);
}

.order__form {
    padding-bottom: var(--size-fourty);
    width: 100%;
}
.discount{
    text-decoration: line-through;
    color: var(--color-accent-light);
    font-size: 12px;
}

.order__main {
    display: flex;
    width: 55%;
    padding-top: var(--size-eigthty);
    justify-content: center;
    margin: 0 var(--size-content-big) auto;
    max-width: 585px;
}

.lib-order input:checked {
    border-color: var(--color-focused-input);
}

.order__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order__select {
    border-radius: var(--size-smaller);
}

.order__shipping-address-title {
    display: flex;
    font-size: var(--size-normal-small);
    margin-top: var(--size-fourty);
}

.order__log-in {
    display: flex;
}

.order__title-name {
    font-size: var(--size-normal-small);
}

.order__sidebar {
    width: 45%;
    background: var(--color-card-aside-background);
    border-left: 1px solid var(--coror-divides-line-card);
}


.order__address-name {
    display: flex;
}

.order__svg {
    display: flex;
    justify-content: center;
    padding-bottom: var(--size-normal-mid);
}

.order__contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.order__contact-form ul.react-autocomplete-input {
    background-color: #fafafa;
    border-color: var(--color-accent-light);
    border-width: 1px;
    border-radius: 3px;
    padding: 0;
}

.order__contact-form ul.react-autocomplete-input > li.active {
    background-color: var(--color-accent-light);
}

.input__full-width {
    width: 100%;
}

.order__location-info {
    display: flex;
    flex-direction: column;
}

.order__country-name {
    display: flex;
    margin-top: 10px;
}

.order__first-name {
    width: 50%;
    margin-right: var(--size-small);
}

.order__fifty-to-fifty:first-child {
    margin-right: var(--size-small);
}
.order__fifty-to-fifty.lastName {
    margin-right: 0;
}

.lib-order select {
    margin-top: var(--size-small);
    border-radius: var(--size-smaller);
    border: 1px solid #d9d9d9;
    padding: 11px;
    color: var(--color-accent);
    font-size: 14px;
    font-weight: 400;
}

.lib-order select:focus {
    outline: none;
    border: 1px solid var(--color-focused-input);
}

.order__phone {
    width: 100%;
}

.order__postal {
    width: 50%;
    margin: 0;
}

.order__order-button {
    display: flex;
}

.order__btn-submit {
    width: 50%;
}

.order__btn-return {
    width: 50%;
}

.order__policy-lists {
    display: flex;
    justify-content: space-around;
    margin-top: var(--size-sixty);
    border-top: 1px solid var(--coror-divides-line-card);
    padding-top: var(--size-normal);
}

.order__sidebar-content {
    margin: var(--size-fifty);
}

.order__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--size-normal) 0;
}

.order__phone-input {
    width: 100%
}

.order__item-image img {
    width: var(--size-sixty);
    height: var(--size-sixty);
    border-radius: 10px;
    max-width: none;
}
.order__log-in{
    text-align: center;
    align-items: center;
}

.order__log-in-text {
    padding-right: var(--size-mid);
}
.order__item-price-disc{
    width: 30%;
    text-align: end;
}
.order__item-section {
    width: 70%;
    display: flex;
    align-items: center;
}

.order__discount {
    display: flex;
    padding: var(--size-normal) 0;
    border-bottom: 1px solid var(--color-border-card);
    border-top: 1px solid var(--color-border-card);
}

.order__discount-input-block {
    width: 100%;
    border-color: var(--color-border-card);
}

.lib-order input.input {
    border-radius: var(--size-smaller);
    border: 1px solid #d9d9d9;
    padding: var(--size-small);
    margin: var(--size-min-small);
    height: var(--size-fourty);
    box-sizing: border-box;
    font-size: var(--fz-normal);
    font-weight: 400;
    align-items: center;
    align-content: center;
    transition: background-color .3s ease,color .3s ease;
}

.lib-order .input::placeholder {
    color: var(--color-accent-light);
    opacity: .9;
}

.lib-order .field-error {
    border-color: var(--color-error) !important;
    border-width: 2px !important;
}

.lib-order p.field-message__error {
    font-size: 14px;
    color: var(--color-error);
    margin-top: 7px;
    margin-bottom: 0;
}

.lib-order .input.input:focus {
    outline: 0;
    border: 2px solid var(--color-focused-input);
    transition: all .2s ease-out;
    box-shadow: var(--color-focused-input);
}


.order__discount-input {
    width: 100%;
    padding: var(--size-small) var(--size-normal);
    border-radius: var(--size-smaller);
    border: 1px solid var(--color-border-card);
}

.order__discount-btn-block {
    display: flex;
    justify-content: flex-end;
    margin-left: var(--size-normal);

}

.order__discount-bnt {
    background: var(--color-accent);
    color: var(--color-lightest);
    border: none;
    outline: none;
    align-self: flex-end;
    padding: var(--size-small) var(--size-normal-mid);
    border-radius: var(--size-smaller);
    transition: .2s ease;
    height: 40px;
    font-size: var(--size-mid);
}
.order__discount-bnt:hover {
    background: var(--color-accent-light);
    transition: .2s ease;
}

.order__item-description {
    padding: 0 var(--size-mid-bigger);
}


.order__item-title {
    font-weight: 600;
}

.order__item-price {
    font-weight: 600;
}

.order__summary {
    padding: var(--size-normal) 0;
    border-bottom: 1px solid var(--color-border-card);
}

.order__subtotal {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--size-small);
    font-weight: 400;
}

.order__aside-text {
    font-weight: 400;
}

.order__aside-hint {
    color: var(--color-hint);
}

.order__subtotal-amount {
    font-weight: 600;
}

.order__contact-form-checkbox-block {
    margin-top: var(--size-small);
}

.lib-order .label-btn {
    padding-left: var(--size-smaller);
}

.order__shipping {
    display: flex;
    justify-content: space-between;
}

.order__total {
    display: flex;
    justify-content: space-between;
    padding: var(--size-normal) 0;
    text-align: center;
    align-items: center;
}

.order__total-amount {
    font-weight: 600;
    font-size: var(--size-normal)
}

.order__btn-submit {
    outline: none;
    border: 1px transparent solid;
    border-radius: var(--size-smaller);
    font-weight: 600;
    padding: var(--size-normal-mid) var(--size-big);
    text-align: center;
}


.order__btn-return {
    display: flex;
    align-items: center;
    padding-left: var(--size-mid);
}

.lib-order a {
    color: var(--color-focused-input);
}

.lib-order a:hover {
    color: var(--color-link-card);
    text-decoration: none;
}

.order__btn-return-link {
    text-decoration: none;
    color: var(--color-focused-input);
}

.order__privacy {
    text-align: center;
    padding-right: var(--size-small);
    width: 150px;
}


.order__order-button {
    margin-top: var(--size-normal);
}
.order__term{
    text-align: center;
    width: 150px;
}

.order__item-image {
    position: relative;
}

.order__item-image .cart-badge {
    position: absolute;
    right: -10px;
    top: -10px;
    z-index: 2;
    background: var(--color-accent);
    color: var(--color-lightest);
    width: 20px;
    height: 20px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 0 0 var(--color-dark-light);
    border-radius: 50%;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
}

.order__sidebar-toggle {
    display: none;
}


@media all and (max-width: 1000px) {
    .order__sidebar {
        border-bottom: 1px solid var(--color-border-card);
    }
    .sidebar-toggle__wrap-span {
        display: flex;
        align-items: center;
        font-size: 15px;
        color: var(--color-accent);
    }
    .sidebar-toggle__wrap-span svg:first-child {
        margin-right: 10px;
    }
    .sidebar-toggle__wrap-span svg:last-child {
        transition: .3s ease;
    }
    .order__sidebar-toggle {
        display: block;
        width: 100%;
        background: #fafafa;
        border: none;
        border-top: 1px solid var(--color-border-card);
        border-bottom: 1px solid var(--color-border-card);
        padding: 1.25em 0;
    }
    .order__sidebar-toggle.hide {
        border-bottom: none;
    }
    .order__sidebar-toggle__wrap {
        display: flex;
        justify-content: space-between;
        max-width: 540px;
        margin: 0 auto;
        padding: 10px;
    }
    .order__sidebar-toggle__wrap .order__total-amount {
        font-size: 18px;
        color: var(--color-dark-light);
    }
    .order__sidebar-content {
        border: none;
        max-width: 540px;
        margin: 0 auto;
        width: 80%;
        height: 100%;
        transition: height .4s ease-in-out;
        overflow: hidden;
    }
    .order__sidebar-content.hide {
        overflow: hidden;
        height: 0;
        transition: height .4s ease-in-out;
    }
    .order__sidebar-content.hide {
        border-bottom: none;
    }
    .order__form {
        max-width: 540px;
        margin: 0 auto;
    }
    .order__sidebar {
        width: 100%;
    }

    .order__svg {
        display: none;
    }

    .lib-order {
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        align-items: center;
        margin-top: var(--size-bigger);
    }

    .order__main {
        padding: 0;
        margin: 0;
        width: 80%;
    }
}

@media all and (max-width: 750px) {
    .order__title {
        display: block;
    }

    .order__fifty-to-fifty {
        width: 100%;
    }

    .order__form {
        margin-top: var(--size-bigger);
    }

    .order__address-name {
        display: block;
    }

    .order__country-name {
        display: block;
    }

    .lib-order .input {
        width: 100%;
    }

    .lib-order select {
        width: 100%;
        margin-bottom: var(--size-small);
        padding: var(--size-small);
    }

    .order__order-button {
        display: block;
    }

    .order__btn-submit {
        width: 100%;
    }

    .order__btn-return {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        font-weight: 600;
        padding: var(--size-normal-mid) var(--size-big);
    }
}
