.App {
    margin-top: 10px;
    border: 1px solid #dcdcdc;
}

.tabs{
}

.tabs-titles{
    list-style: none;
    padding: 0px;
    margin: 0;
}

.tab-title{
    background-color: #fff;
    display: inline-block;
    padding: 10px;
    color: #c7c6c2;
    cursor: pointer;
    margin-left:1px;
}

.tab-title--active {
    background-color: #f5f5f5;
    color: #00070a;
}
.header-tabs {
    padding: 10px;
    background-color: #f6f6f6;
    border-bottom: 1px solid #dcdcdc;
}

.tab-content{
    background-color: #f5f5f5;
    padding: 5px;
    margin: 0;
}
label{
    padding-right: 10px;
}
form {
    display: flex;
    flex-direction: column;
    padding: 20px ;
}
.from-section {
    display: flex;
    margin-top: 20px;
    border-bottom: 1px solid #dcdcdc;
}
input {
    margin-bottom: 10px;
    width: 90%;
}
textarea {
    margin-bottom: 10px;
    width: 90%;
}
