:root  {
    /*---------- FONTS ---------*/

    --accent-ff-light: 'SourceSansPro-Light', sans-serif;
    --accent-ff: 'Cera Pro Regular', sans-serif;
    --accent-ff-bold: 'Cera Pro Medium', sans-serif;

    --line-h-bigger: 22px;
    --line-h-normal: 20px;
    --line-h-small: 16px;
    --line-h-smaller: 12px;

    /*--fz-tinier: 10px;
    --fz-tiny: 12px;
    --fz-smallest: 13px;
    --fz-smaller: 14px;*/
    --fz-small: 14px;
    --fz-mid: 15px;
    --fz-normal: 16px;
    /*--fz-normal-bigger: 20px;
    --fz-biggest: 30px;*/

    /*----------- COLORS ---------*/
    --color-lightest: #fff;
    --color-accent: #887569;
    --color-accent-light: #c4a996;
    --color-border-accent: #e6e6e6;
    --color-border-lightest: #E5E5E5;
    --color-arrow-black: #000000;

    /*------------ SIZES -----------*/
    --size-min-small: 3px;
    --size-smaller: 6px;
    --size-small: 10px;
    --size-mid-low: 12px;
    --size-mid: 15px;
    --size-mid-bigger: 16px;
    --size-normal-small: 18px;
    --size-normal: 20px;
    --size-normal-mid: 24px;
    --size-big: 28px;
    --size-bigger: 30px;
    --size-biggest: 32px;

    /* CONTAINER WIDTH */
    --size--margin-big: 1500px;


}
