.card-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.card-list-page.product-empty {
    width: 100%;
    text-align: center;
    padding: 30px;
    height: 60vh;
}

.card-list-page.product-empty .lib-title {
    font-size: 20px;
}

@media (max-width: 1023px) {
    .card-list {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 768px) {
    .card-list {
        column-gap: 8px;
    }
    .card-list .lib-card {
        padding: 0;
    }
}
