.header-input-form {
    width: 100%;
}

.header-input-search {
    height: 36px;
    font-size: 16px;
    padding: 0 16px 0 40px;
    line-height: normal;
    background: #F5F3F3;
    color: #887569;
    border-radius: 4px;
    border: 0;
}
.header-icon-search {
    margin: 5px;
}

.dropdown-indicator-label {
    display: flex;
    align-items: center;
    justify-content: center;
}
