.header-input-form {
    width: 100%;
}

.header-input-search {
    height: 36px;
    font-size: 16px;
    padding: 0 16px 0 40px;
    line-height: normal;
    background-color: rgba(245,243,243,.64);
    color: #887569;
    border-radius: 4px;
    border: 0;
}
.header-icon-search {
    margin: 5px;
}
.svg-icon.icon-search{
    display: none;
}
.css-6j8wv5-Input{
margin-left: 20px;
}

.dropdown-indicator-label {
    display: flex;
    align-items: center;
    justify-content: center;
}
