.lib-card {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 4px;
}

.lib-card .lib-card__picture {
    object-fit: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 4px;
    display: block;
    margin-bottom: 8px;
    padding-top: 162.5%;
    width: 100%;
    position: relative;
}

.lib-card .lib-card__info {
    padding-top: 2px;
    padding-bottom: 25px;
}

.lib-card__info-content {
    display: flex;
    flex-direction: column;
}
.lib-card__heart_wh {
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    padding: 0;
    margin: 0;
    z-index: 2;
}
.lib-card .lib-card__info-supsale {
    display: flex;
    line-height: var(--line-h-normal);
    color: var(--color-accent-light);
    font-size: var(--fz-tiny);
    font-family: var(--accent-ff);
    min-height: 10px;
}

.lib-card .lib-card__info-supsale span {
    margin-right: 15px;
}
.lib-card .lib-card__info-supsale span:last-child {
    margin-right: 0;
}

.lib-card .lib-card__info-title {
    line-height: 1.5;
    color: var(--color-accent);
    font-size: var(--fz-small);
    font-family: var(--accent-ff);
    margin-bottom: 0;
}

.lib-card .lib-card__info-price {
    margin: 3px 0;
    line-height: var(--line-h-normal);
    color: var(--color-accent);
    font-size: var(--fz-small);
    font-family: var(--accent-ff);
}
