.header-list-collection-item{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}
.header-list-collection-woman{
    margin: 0;
    font-size: var(--fz-normal);
    line-height: 24px;
}
.header-list-collection-woman li{
    list-style: none;
    padding-bottom: 10px;
}
.header-list-collection-woman li a:hover {
    color: var(--color-accent-light);
}
.header-list-collection-woman li.main a{
    font-family: var(--accent-ff-bold);
}
.header-list-collection-item img {
    padding-bottom: 20px;
    border-radius: 4px;
    padding-right: 10px;
}
