.orderContent {
    margin: 50px 0;
}

.ttn-container .form-control {
    min-height: 38px;
}
.return-modal {
    overflow-y: auto;
}
.orderContent table, thead, tbody, th, td {
    border: 1px solid #dcdcdc;
}
.orderContent table {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 30%;
}
.orderContent th {
    background-color: #f6f6f6;
}
.orderContent th, td {
    padding: 10px;
}
.orderContent ul {
    padding: 0;
}
.orderContent li {
    list-style: none;
}
.orderContent select {
    width: 100%;
}
.orderContent textarea {
    width: 100%;
}
.orderContent .orderProductDetailsTable{
    display: flex;
    justify-content: space-between;
}
.orderContent .orderProductId{
    border: 1px solid #dcdcdc;
}
.orderContent .orderProductIdHeader{
    padding: 10px;
    border-bottom: 1px solid #dcdcdc;
}
.orderContent .orderProductTableAddress {
    width: 100%;
}
.orderContent .orderProductTablePrice {
    width: 100%;
}
.orderContent .orderProductHistory{
    margin-top: 30px;
}
.orderContent .orderProductHistoryHeader{
    border-bottom: 1px solid #dcdcdc;
}
.orderContent .orderFormContent {
    display: flex;
}
.orderContent .orderLabelContent{
    width: 20%;
}
.orderContent .orderInputContent{
    width: 80%;
}
.orderContent .orderButtonHistory {
    display: flex;
    float: right;
    margin-top: 30px;
    margin-bottom: 30px;
}
.orderContent .orderButtonContent{
    display: flex;
}

.return-modal .modal-dialog {
    max-width: 980px;
}
