.lib-footer {
    --footer-accent-ff: var(--accent-ff);
    --footer-color: var(--color-accent);

    font-family: var(--footer-accent-ff);
    color: var(--footer-color);
    width: 100%;
}

.lib-footer .container-footer {
    max-width: 100%;
    margin-top: var(--size-small);
    border-top: 1px solid #e5e5e5;
}
.lib-footer .content-footer {
    display: flex;
    justify-content: space-around;
    padding-top: 67px;
    margin-top: 40px;
}
.lib-footer .footer-logo {
    width: 59px;
    height: 61px;
    background-color: var(--color-accent);
    border-radius: 10px;
    font-size: var(--fz-small);
    text-align: center;
    padding-top: var(--size-normal);
}
.lib-footer .footer-logo-info {
    padding-top: var(--size-biggest);
}
.lib-footer .logo-text {
    color: white;
    font-size: var(--fz-tiny);
}
.lib-footer .footer-title-info {
    font-size: var(--size-normal-big);
    margin-bottom: var(--size-normal-big);
}
.lib-footer .footer-links{
    display: flex;
    justify-content: space-around;
    margin-top: var(--size-biggest);
    font-size: var(--fz-normal);
}
.lib-footer .items {
    padding-right: var(--size-small);
}
.lib-footer .footer-list {
    display: table-footer-group;
    flex-direction: column;
    list-style: none;
    font-size: var(--fz-normal);

}
.lib-footer .footer-list li {
    padding-top: var(--size-normal);
}

