.dashboard-page .dashboardHeader{
    border-bottom: 1px solid #dcdcdc;
    margin: 15px;
}
.dashboard-page .card-total-info-block{
    display: flex;
    justify-content: space-around;
}

.dashboard-page .ukraine-map > path:hover {
    opacity: .7;
}

.dashboard-page .bg-primary{
    background-color:#545f6b;
}
.dashboard-page .card-header {
    background-color: rgba(0,0,0,0.10);
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.dashboard-page .card-text sub{
    margin-left: 5px;
    font-size: var(--fz-tinier);
}
.dashboard-page .card{
    display: flex;
    justify-content: center;
}

.dashboard-page .card-body{
    display: flex;
    justify-content: center;
}
.dashboard-page .card-text span{
    margin-left: 50px;
}

