.dashboardHeader{
    border-bottom: 1px solid #dcdcdc;
    margin: 15px;
}
.card-total-info-block{
    display: flex;
    justify-content: space-around;
}

.bg-primary{
    background-color:#545f6b;
}
.card-header {
    background-color: rgba(0,0,0,0.10);
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.card-text sub{
    margin-left: 5px;
    font-size: 10px;
}
.card{
    display: flex;
    justify-content: center;
}

.card-body{
    display: flex;
    justify-content: center;
}
.card-text span{
    margin-left: 50px;
}
.card-img-top{
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    right: 10%;
    height: 350px;
    transform: scale(0.5);
    width: 600px!important;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: middle;
    height: auto;
}

