.lib-login{
    --header-accent-ff: var(--accent-ff);
    --header-color: var(--color-accent);
    font-family: var(--header-accent-ff);
    color: var(--header-color);
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.content-login {
    max-width: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.from-login {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.from-login .lib-input__common {
    margin-bottom: var(--size-small);
}
.lib-login_sign_up{
    margin-top: var(--size-small);
}

p.field-message__error {
    font-size: 14px;
    color: var(--color-error);
    margin-bottom: 7px;
    margin-top: 0;
}
