.lib-login {
    --header-accent-ff: var(--accent-ff);
    --header-color: var(--color-accent);
    font-family: var(--header-accent-ff);
    color: var(--header-color);
    margin-bottom: 70px;
}
.lib-login .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.lib-login .content-login {
    max-width: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.lib-login .from-login {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.lib-login .from-login .lib-input__common {
    margin-bottom: var(--size-small);
}
.lib-login .lib-login_sign_up {
    margin-top: var(--size-small);
}

.lib-login p.field-message__error {
    font-size: 14px;
    color: var(--color-error);
    margin-bottom: 7px;
    margin-top: 0;
}

.lib-login .lib-login_sign_up {
    font-size: 16px;
    margin: 8px 0;
}
